.head1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(34, 30, 255);
    flex-grow: 1;
}

.head2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: dodgerblue;
    flex-grow: 1;
}

.DI {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #4861b3;
    width: 720px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    
}

.face {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
        
}
.text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(252, 4, 53);
    flex-grow: 1;
}

.email {
    display: flex;
    justify-content: center;
    text-align: center;
    color: dodgerblue;
    flex-grow: 1;
}