.DI {
    width: 1600px;
    height: 900px;

}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: crimson;

}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: dodgerblue;

}