.head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: dodgerblue;
}
.head2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: dodgerblue;
}


.DI {
    display: flex;
    justify-content: center;
    align-items: center;
    color: dodgerblue;
    width: 1600px;
    height: 900px;

}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;

}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    color: dodgerblue;

}